
.vid-con .video-wid{
  width: 70%;
}

.ov-vid{
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 6rem 4.5rem #14131a;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
}

.ov-lay1{
    position: absolute;
    top: 0;
    left: -15px;
    background: linear-gradient(90deg, #14131a, #14131a00);
    width: 40%;
    height: 100%;
}
.ov-lay2{
    position: absolute;
    bottom: -10px;
    left: 0;
    background: linear-gradient(to top, #14131a, #14131a00);
    width: 100%;
    height: 35%;
}
.ov-details{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

.ov-details .ov-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 0 1.5rem;
}
.profile-menu{
  display: none;
}

.ov-details .ov-header a img{
    width: 8rem;
}
.ov-details .ov-header .ov-links{
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
    margin-right: 1rem;
}
.ov-details .ov-header .ov-links a{
    text-decoration: none;
    color: #a1aaad;
}
.ov-details .ov-header .ov-links a:hover{
  color: #e4e9ea;
}
.click-dropdown {
  width: fit-content;
  position: relative;
}
.click-dropdown:hover > button{
  color: #e4e9ea;
}
.click-dropdown button{
    background: none;
    border: none;
    padding: 0;
    font-size: 1.2rem;
    color: #a1aaad;
    font-family: inherit;
}
.click-dropdown .dropdown-toggle,
.drop-menu .menu-item {
  width: 100%;
  cursor: pointer;
}

.menu-item:first-child {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

.menu-item:last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.menu-item:hover {
  background-color: #a1aaad;
}
.menu-item:hover > a{
  color: #000 !important;
}

.click-dropdown .dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.click-dropdown .dropdown-toggle>span {
  margin-right: .5rem;
}

.click-dropdown .dropdown-toggle>i {
  transition: 0.25s ease;
}

.click-dropdown .dropdown-toggle.open-drop-menu>i {
  rotate: -180deg;
}

/* MENU */
.click-dropdown .drop-menu {
  display: flex;
  flex-direction: column;
  background-color: #1c1b23;
  position: absolute;
  right: 50%; 
  transform: translateX(50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  width: 300%;
  padding: 1rem;
  border-radius: 0.5rem;
  translate: 0 -0.7rem;
  list-style: none;
}
/* MENU */
.click-dropdown .drop-menu2 {
  display: flex;
  flex-direction: column;
  background-color: #1c1b23;
  position: absolute;
  right: 140%; 
  transform: translateX(50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  width: 300%;
  padding: 1rem;
  border-radius: 0.5rem;
  translate: 0 -0.7rem;
  list-style: none;
}
.click-dropdown .drop-menu.open-drop-menu {
  visibility: visible;
  opacity: 1;
  translate: 0 0.7rem;
}

.click-dropdown .drop-menu .menu-item{
  padding: .7rem;
  border-radius: .3rem;
}

i.iconamoon--arrow-down-2 {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m7 10l5 5m0 0l5-5'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ov-links .username{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.ov-links .username .mingcute--user-4-line {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M12 2c5.523 0 10 4.477 10 10a9.96 9.96 0 0 1-2.258 6.33l.02.022l-.132.112A9.98 9.98 0 0 1 12 22c-2.95 0-5.6-1.277-7.43-3.307l-.2-.23l-.132-.11l.02-.024A9.96 9.96 0 0 1 2 12C2 6.477 6.477 2 12 2m0 15c-1.86 0-3.541.592-4.793 1.406A7.97 7.97 0 0 0 12 20a7.97 7.97 0 0 0 4.793-1.594A8.9 8.9 0 0 0 12 17m0-13a8 8 0 0 0-6.258 12.984C7.363 15.821 9.575 15 12 15s4.637.821 6.258 1.984A8 8 0 0 0 12 4m0 2a4 4 0 1 1 0 8a4 4 0 0 1 0-8m0 2a2 2 0 1 0 0 4a2 2 0 0 0 0-4'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .ov-links .saved{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
  .ov-links .saved .iconoir--media-video-list {
    display: inline-block;
    width: 1.05em;
    height: 1.05em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M21 7.6v12.8a.6.6 0 0 1-.6.6H7.6a.6.6 0 0 1-.6-.6V7.6a.6.6 0 0 1 .6-.6h12.8a.6.6 0 0 1 .6.6'/%3E%3Cpath d='M18 4H4.6a.6.6 0 0 0-.6.6V18m8.909-6.455a.6.6 0 0 0-.909.515v3.88a.6.6 0 0 0 .909.515l3.233-1.94a.6.6 0 0 0 0-1.03z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .mdi--pencil-circle {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10s10-4.47 10-10S17.53 2 12 2m3.1 5.07c.14 0 .28.05.4.16l1.27 1.27c.23.22.23.57 0 .78l-1 1l-2.05-2.05l1-1c.1-.11.24-.16.38-.16m-1.97 1.74l2.06 2.06l-6.06 6.06H7.07v-2.06z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .tabler--menu-deep {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M7 12h13m-10 6h10'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }


.ov-details .left-intro{
  padding-left: 2.5rem;
  height: calc(100% - 9rem);
  display: flex;
  align-items: center;
  color: #a1aaad;
}
.left-intro .left-det{
  width: 40%;
}
.left-intro .left-det b{
  font-size: 1.3rem;
}
.left-intro .left-det h1{
  font-size: 3.5rem;
  margin: 1rem 0;
}
.left-intro .left-det p{
  font-size: 1.2rem;
  line-height: 1.7rem;
  width: 85%;
}